@charset "utf-8";

/* AMAZON */

div.hatena-asin-recommend {
	margin: 4px 10px 4px 10px;
	padding: 5px 4px;
	width: 96%;
	text-align: left;
}

div.hatena-asin-recommend a {
	text-decoration: none;
	border: none;
}

div.hatena-asin-recommend-item-1 {
	float: left;
	width: 49%;
}

div.hatena-asin-recommend-item-2 {
	float: right;
	width: 49%;
}

div.hatena-asin-recommend-foot {
	clear: both;
}

div.hatena-asin-recommend-image {
	float: left;
}

div.hatena-asin-recommend-image img {
	border: none;
}

div.hatena-asin-recommend-info {
	margin-left: 65px;
	min-height: 65px;
	line-height: 115%;
}

div.hatena-asin-recommend-title {
	margin-left: 24px;
	font-size: 11px;
	font-weight: bold;
}

div.hatena-asin-recommend-description {
	margin-top: 4px;
	margin-left: 10px;
	font-size: 11px;
	font-weight: normal;
}

div.hatena-asin-recommend-title img {
	float: left;
	margin-left: -24px;
	vertical-align:middle;
}

/* COMMON */

h1 a {
 text-decoration: none;
}
h1 img {
 border: 0;
}

div.body {
 clear: both;
}

div.section p span a.keyword,div.section p span a.okeyword,div.section p span a.okeyword:link,div.section p span a.keyword:link,div.section p span a.keyword:visited,div.section p span a.okeyword:visited {
  color: inherit;
 _color: expression(this.parentNode.currentStyle.color); /* for IE6 */
 *color: expression(this.parentNode.currentStyle.color); /* for IE7 */
}

/* PROFILE */

img.hatena-id-icon{
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: none;
}

img.hatena-id-image{
  border: none;
}

img.good-job {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 2px;
}

/* KEYWORDCLOUD */

ul.keywordcloud li {
  display: inline;
  color:gray;
}

a.keywordcloud0 { font-size: 80%; }
a.keywordcloud1 { font-size: 100%; }
a.keywordcloud2 { font-size: 120%; }
a.keywordcloud3 { font-size: 140%; }
a.keywordcloud4 { font-size: 160%; }
a.keywordcloud5 { font-size: 180%; }
a.keywordcloud6 { font-size: 200%; }
a.keywordcloud7 { font-size: 220%; }
a.keywordcloud8 { font-size: 240%; }
a.keywordcloud9 { font-size: 260%; }
a.keywordcloud10 { font-size: 280%; }
a.keywordcloud0, a.keywordcloud1, a.keywordcloud2, a.keywordcloud3, a.keywordcloud4, a.keywordcloud5, a.keywordcloud6, a.keywordcloud7, a.keywordcloud8, a.keywordcloud9, a.keywordcloud10 {
  text-decoration: none;
}

/* TOPIC TREE */

ul.topic-tree-leaf {
  margin-top: 0.2em;
  margin-bottom: 1em;
}

div.description {
  border: #ccc 1px solid;
  padding: 5px;
  font-size: 90%;
  color: #666;
  line-height:1.35;
  margin:5px 0;
}

span.topic-tree-timestamp{
font-size:80%;
color:#666;
margin-left:5px;
}

a.topic-tree-username{
margin-left:5px;
font-size:90%;
}

/* TOPIC TREE MODULE */

ul.hatena-topictree {
list-style-type: none;
margin:0;
padding:0;
}
ul.hatena-topictree li ul {
margin-bottom:10px;
}
ul.hatena-topictree li ul,
ul.hatena-topictree li ul li ul,
ul.hatena-topictree li ul li ul li ul,
ul.hatena-topictree li ul li ul li ul li ul {
list-style-type: none;
margin-left:1em;
padding-left:0;
}

/* contents */

div.contents {
	border: 1px solid #aaa;
	background-color: #EEE;
	font-size: 90%;
        width:200px;
        float: right;
        padding:10px;
	color:#000;
}

div.contents a{
	color:#0000FF;
}

div.contents h3 {
	text-align: center;
        margin:0;
        padding:0;
}
div.contents ul {
	margin-left: 15px;
	padding-left: 0;
	text-align: left;
}
div.contents ul ul {
	margin: 0 0 0 1em;
}
div.contents ul ul ul {
	margin: 0 0 0 1em;
}

/* SCREENSHOT */

a.screenshot img{
border:1px solid #999;
}

/* SUPERPRE SYNTAX HIGHLIGHT */

.synSpecial { color: #c000c0; }
.synType { color: #008000; }
.synComment { color: #0000c0; }
.synPreProc { color: #c000c0; }
.synIdentifier { color: #008080; }
.synConstant { color: #c00000; }
.synStatement { color: #804000; }



/* bookmark count */
a.bookmark-icon img {
border: none;
}
a.bookmark-count {
text-decoration: none;
border: none;
}
a.bookmark-count img {
text-decoration: none;
border: none;
}

/* hatena-bookmark-comment-viewer */

.hatena-bcomment-view {
  background-color:#fff;
  border-top:1px solid #CCC;
  border-left:1px solid #CCC;
  border-right: solid 1px #999;
  border-bottom: solid 1px #999;
  position: absolute !important;
  display: none;
  word-break  : break-all ;
  word-wrap   : break-word ;
  width: 400px;
  text-align:left;
  margin:0 !important;
  padding:0 !important;
  font-weight:normal !important;
  font-size:90%;
  z-index:100;
  color:#000 !important;
}

.hatena-bcomment-title {
  margin:0 !important;
  padding:3px 5px  !important;
  text-indent:0 !important;
}

.hatena-bcomment-title img {
  vertical-align: middle !important;
  margin: 2px 2px 2px 4px !important;
}


.hatena-bcomment-view ul {
  width: auto;
  overflow: auto;
  overflow-y:auto;
  border-top: 1px solid #5279E7;
  background-color: #edf1fd;
  list-style-type: none;
  padding: 5px 8px !important;
  margin: 0px !important;
  line-height: 150%;
}
.hatena-bcomment-view ul li{
  text-indent:0 !important;
  margin:0 !important;
  padding:0 0 2px 0 !important;
  font-size:90%;
  background:transparent !important;
}
.hatena-bcomment-view ul li span.hatena-bcomment-tag a{
  color:#6365CE; 
  font-family:"Arial",sans-serif;
  margin:0 3px;
}

.hatena-bcomment-view ul li img{
  vertical-align:middle !important;
  margin:0 2px !important;
}

.hatena-bcomment-view ul li span.hatena-bcomment-date {
}

.hatena-bcomment-view-icon {
  cursor: pointer;
}

/* ASCII-ART */

div.ascii-art{
  font-size:12pt;
  line-height:18px;
  font-family: "Mona","IPA MONAPGOTHIC","MS PGothic","ＭＳ Ｐゴシック","MS Pｺﾞｼｯｸ","MS Pゴシック",sans-serif;
}

img.bcounter{
  border:0;
}

/* error message */


p.message {
  color: #dd0000;
  background: #ffeed8;
  padding: 5px;
  border: 1px solid #f5c8a7;
  font-size: 90%;
  text-align: left;
}

p.message a{
  color: #dd0000;
  text-decoration:underline;
  border-bottom:0;
}

/* hatena-widget */

.hatena-widget {
  text-align: center;
  padding:10px 0;
}

.hatena-widget * {
  margin-left:auto;
  margin-right:auto;
}

/* hatena-hotstar */

.hatena-module .hatena-hotstar li a {
  display: inline;
  width: auto;
}

/* keyword ,keyworddiary */

#hatena-group-keyworddiary .refererlist ul ul, #hatena-group-keyword .refererlist ul ul {
  list-style: none;
}


/* sectionheader */

p.sectionheader {
  font-size: 90%;
  text-align: right;
  line-height: 1;
}

p.sectionheader a {
  text-decoration: none;
}

p.sectionheader img {
  vertical-align: middle;
}


/* comment */

.commentshort p img.hatena-id-icon {
  margin-left: 0;
}

.commentshort span.commentbody {
  display: block;
  padding: 0.2em 0 0.4em 0;
}

.commentshort span.timestamp {
  font-size: 90%;
}

.commentshort span.timestamp a {
  color: #999;
  margin-left: 0.5em;
  text-decoration: none;
  font-weight: normal;
}

.commentshort span.timestamp a:hover {
  text-decoration: underline;
}

div.comment span.commentmessage {
  border-bottom:0 !important;
  padding-top:5px;
  display:block;
}

div.comment span.commentmessage a{
  text-decoration:underline;
}

/* search in place  */

h2 span a.search-in-place-prev,
h2 span a.search-in-place-next {
    font-weight: normal;
    font-size: 12px;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    height: auto;
    width: auto;
    text-decoration: underline;
}


h2 span.search-in-place-pager .disabled {
    font-weight: normal;
    font-size: 12px;
    margin: 0 0 0 5px !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    text-decoration: none;
    cursor: default;
    height: auto;
    width: auto;
}

/* star friend module */

div.hatena-module-starfriends ul.hatena-photo li img {
  width:32px;
  height:32px;
}

img.http-bookmark{
  margin:0 3px;
  vertical-align:middle;
}

div.hatena-profile p.hatena-profile-id a img.icon-plus {
  border: none;
}

